.carousel_desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .carousel_desktop {
    width: 100%;
    height: 325px;
    display: flex;
    column-gap: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    .current {
      position: relative;
      width: 70%;
      height: 100%;
      flex-shrink: 0;
      flex-grow: 1;
      border-radius: 20px;
      .current_img {
        flex-shrink: 0;
        object-position: top;
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .current_text {
        position: absolute;
        width: 320px;
        height: 270px;
        top: 35%;
        left: 5%;
        display: flex;
        flex-direction: column;
        z-index: 50;
        color: white;
        h1 {
          width: fit-content;
          margin-bottom: 20px;
          background-color: rgb(42, 42, 42, 0.2);
          padding: 10px;
          border-radius: 5px;
        }
        .current_main_p {
          margin-bottom: 20px;
        }
        p {
          width: fit-content;
          background-color: rgb(42, 42, 42, 0.2);
          padding: 10px;
          border-radius: 5px;
          font-size: 12px;
        }
        .current_price {
          width: 100%;
          display: flex;
          align-items: center;

          button {
            width: 100%;
            height: 100%;
            border: none;
            padding: 10px;
            background-color: transparent;
            color: white;
            border-radius: 5px;
            margin-left: 20px;
            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
    .preview {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 1;
      cursor: pointer;
      //   background-color: red;
      .preview_card {
        width: 160px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding-left: 10px;
        background: linear-gradient(to right, #2a2a2a 50%, transparent 0);
        background-size: 200% 100%;
        background-position: right;
        &:hover {
          background-color: rgb(255, 255, 255, 0.1);
        }
        .container_preview_img {
          width: 28px;
          height: 37px;
          .preview_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
          }
        }
        .preview_title {
          margin-left: 5px;
          p {
            font-size: 12px;
            letter-spacing: 0.17px;
            line-height: 1.5;
            color: rgb(245, 245, 245);
            z-index: 1;
          }
        }
      }
    }
  }
  .activeSlide {
    animation: makeItfadeIn 9s ease-out;
  }
  @keyframes makeItfadeIn {
    100% {
      background-position: left;
    }
  }
  .swiper_desktop {
    width: 100%;
    height: 100%;
  }

  .swiper_sliding {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 890px) {
  .carousel_desktop {
    height: 450px;
    .current {
      .current_text {
        .current_main_p {
          margin-bottom: 30px;
        }
        .current_price {
          p {
            font-size: 14px;
          }
          button {
            padding: 15px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .carousel_desktop {
    height: 495px;

    height: 450px;
    .current {
      .current_text {
        .current_main_p {
          font-size: 17px;
        }
      }
    }

    .preview {
      .preview_card {
        height: 80px;
        .container_preview_img {
          width: 40px;
          height: 53px;
        }
        .preview_title {
          margin-left: 15px;
          p {
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 1.4;
          }
        }
      }
    }
  }
}
