// FONT
$main-font: "Inter", sans-serif;
$second-font: "Open Sans", sans-serif;
// COLOR
$background-color-light-black: #2a2a2a;
$background-color-blue: #0078f2;
$main-background: rgb(18, 18, 18);
$main-typo-color: rgb(245, 245, 245);
$carousel-slide-color: rgba(255, 255, 255, 0.08);
$active: white;
