.main_home {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
  .section_home {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 16px;
    max-width: 1600px;
    height: fit-content;
  }
}
@media screen and (min-width: 1024px) {
  .main_home {
    .section_home {
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      max-width: 1600px;
      padding: 0;
    }
  }
}
