@import "../../../sass/_global";

.bigNav {
  display: none;
}
@media screen and (min-width: 768px) {
  .bigNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .list_desk {
      width: 290px;
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;

      .li_desk {
        color: #ccc;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        text-shadow: none;
        opacity: 0.9;
        cursor: pointer;
        padding: 0;
        border: none;
        width: auto;

        &:hover {
          color: $active;
        }
      }
    }
    .container_body_nav_desk {
      display: flex;
      .connect_desk {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 0.7em;
        p {
          display: block;
          color: #007aff;
          margin-left: 10px;
        }
      }
      .download_desk {
        background-color: $background-color-blue;
        font-weight: 400;
        font-size: 0.6em;
        color: $active;
        padding: 20px;
        text-align: center;
      }
    }
  }
}
